p{
    color:blue;
}
pre{
    color:blue;
}
*{
    color:orange;
}
em{
    color:crimson;
}
span{
    color:cadetblue;
}

.titulo{
    color:blue;
}
.bl{float: right;
    background-color: black;
  color: azure;
}

#selector{
  color: blueviolet;
}