.container{
    background-color: deepskyblue;

    width: 700p;
  
    }
h2{color: white;
    margin-bottom: 0;
    
    
    }
.uno{
    background-color: gray;
    height: 50px;
    }

    .dos{
        background-color: gray;
    }
    .tres{
        background-color: gray;
        }
    
        .cuatro{
            background-color: gray
        }
        .cinco{
            background-color: gray
        }